/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ----------------------------- *\
  Typography
\* ----------------------------- */

body {
  font-size: 14px;
  line-height: 1.28571em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  color: #333;
}

.date {
  font-weight: normal;
  color: #666;
  text-align: center;
} 

.user-info-text {
  font-size: 12px;
  color: #666;
  font-weight: 400;
}

.location-text {
  font-size: 1vw;
  font-weight: bold;
  color: #333;
  white-space: nowrap;
}

.user-info-text b {
  font-weight: bold;
  color: #666;
}

.name-text {
  font-size: 14px;
  line-height: 1.28571em;
  font-weight: 700;
  color: #0073bb;
}

.name-text:hover {
  text-decoration: underline;
}

.link-text {
  font-weight: bold;
  font-size: 12px;
  border-top: 1px solid #e6e6e6;
}

.link-text-first {
  border-top: none;
}

.check-in-container {
  font-weight: normal;
  font-size: 14px;
  color: #666;
}

.elite {
  font-weight: bold;
  color: #f15c00;
}
/* ----------------------------- *\
Review List Container
\* ----------------------------- */

.review-list-container {
  display: grid;
  grid-template-columns: 633px;
  width: 633px;
  margin: auto;
}

.review-list-container:first-child {
  border-top: 1px solid grey;
}

/* ----------------------------- *\
  Review Container
\* ----------------------------- */

.review-container {
  display:grid;
  grid-template-columns: 1fr 2fr;
  min-height: 240px;
  padding-top: 18px;
  padding-bottom: 17px;
  border-bottom: 1px solid grey;
}

.action-links {
  display: none;
  padding-left: 15px;
  color: #0073bb;
}

.action-links-container {
  padding-left: 0;
}
.review-container:hover .action-links {
  display: grid;
  grid-template-rows: repeat(5, 19px);
  width: 217;
  height: 240px;
}
.link {
  display: grid;
  grid-template-columns: 14% 86%;
}

.action-links li {
  padding-top: 3px;
  padding-bottom: 3px;
}
.action-links li:hover {
  text-decoration: underline;
}

.updated-flag strong {
  font-weight: 700;
  color: #666;
}

.updated-icon {
  font-weight: 400;
  color: #f15c00;
}
/* ----------------------------- *\
  Review Side Bar
\* ----------------------------- */

.review-sidebar {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 0 15px;
}

.user-avatar {
  width: 60px;
  height: 60px;
  margin-right: 9px;
  border-radius: 4px;
}

.user-info {
  display: grid;
  grid-template-rows: repeat(5, 18px);
  grid-row-gap: 2px;
}

.user-friends,
.user-photos,
.user-reviews {
  display: grid;
  grid-template-columns: 18px 100%;
  grid-column-gap: 4px;
}


/* ----------------------------- *\
  User Info Icons
\* ----------------------------- */

.friends-icon, 
.photos-icon,
.reviews-icon {
  width: 18px;
  height: 18px;
  margin-right: 4px;
  color: #f15c00;
}

/* ----------------------------- *\
  Review Wrapper
\* ----------------------------- */

.review-wrapper {
  display: grid;
  grid-template-rows: 1fr 6fr 1fr;
  grid-row-gap: 15px;
  padding: 0 15px;
}

.stars {
  display: grid;
  grid-template-columns: repeat(5, 18px);
  grid-column-gap: 3px;
}

.star-box {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  text-align: center;
  font-size: 12px;
  height: 18px;
}

/* ----------------------------- *\
  Review Header
\* ----------------------------- */

.header-upper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.header-container {
  display: grid;
  grid-template-rows: 2fr 1fr;
}

/* ----------------------------- *\
  Footer Buttons
\* ----------------------------- */

.footer-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 300px;
  height: 30px;
  grid-column-gap: 8px;
}

.btn,
.btn-alt {
  padding: 5px 8px;
  border-radius: 3px;
  font-size: 12px;
  line-height: 1.5em;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
  border: 1px solid;
}

.btn {
  font-weight: 400;
  color: #666;
  border-color: #ccc;
  background-color: #f7f7f7;
  background: linear-gradient(#fff,#f7f7f7);
}

.btn b {
  font-weight: 700;
}

.btn-alt {
  color: white;
  text-shadow: rgba(0,0,0,0.2) 0 -1px;
  border-color: #007abe;
  background: #0097ec;
  font-weight: 700;
}

.btn:hover {
  background-color: #fff;
}
